<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Covid_Vaccine_Tracker_Connection" connectionString="Server=mc-sluggo.stlcc.edu; Database= IS253_Palmer; User id= palmer;Password= palmer;"
            providerName="System.Data.SqlClient" />
        <add name="Covid_Vaccine_Tracker.Properties.Settings.CovidVax_TrackerConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CovidVax_Tracker.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Covid_Vaccine_Tracker.Properties.Settings.Covid19_Vax_TrackerConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Covid19_Vax_Tracker.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Covid_Vaccine_Tracker.Properties.Settings.NewConnection"
            connectionString="Data Source=mc-sluggo.stlcc.edu;Initial Catalog=is253_palmer;Persist Security Info=True;User ID=palmer;Password=palmer"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>